# Dependencies
node_modules/

# Database
database/*.db
database/*.db-journal

# Uploaded images
uploads/*
!uploads/.gitkeep

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local
.env.production

# PM2
.pm2
